-r requirements.txt
-r requirements-build.txt

# examples
django-environ==0.4.5
django-filter==2.4.0
django-import-export==2.5.0
django-storages==1.11.1
Pillow==8.1.2
django-ckeditor==6.0.0
djangocms-text-ckeditor==4.0.0
djangocms-snippet==3.0.0
djangocms-style==3.0.0
psycopg2==2.8.6

# test
pytest==6.2.2
pytest-cov==2.11.1
pytest-django==4.1.0
black==21.4b1
flake8==3.9.0
selenium==3.141.0
