-r requirements.txt
-r requirements-build.txt

# examples
django-environ==0.4.5
django-filter==2.2.0
django-import-export==2.0.2
django-storages==1.9.1
django-cms==3.7.1
Pillow==7.0.0
django-ckeditor==5.9.0
djangocms-text-ckeditor==3.9.0
djangocms-snippet==2.3.0
djangocms-style==2.3.0
djangocms-column==1.9.0

# test
pytest==5.4.1
pytest-cov==2.8.1
pytest-django==3.8.0
black==19.10b0
flake8==3.7.9

# build
pip==20.0.2
setuptools==46.1.1
wheel==0.34.2
twine==3.1.1
