{% load cms_tags sekizai_tags static %}
{% if not instance.render_inner_only %}
    {% addtoblock "js" %}<script type="text/javascript" src="{% static "cms_forms/forms.js" %}"></script>{% endaddtoblock %}
    {% if not instance.is_static %}{% addtoblock "js" %}
    <script>
        window.addEventListener('load', (event) => {
            submitCMSForm(document.getElementById("cms_form-{{ instance.pk }}"), 'GET');
        });
    </script>
    {% endaddtoblock %}{% endif %}
    {% for js_media in instance.form.media.render_js %}
        {% addtoblock "js" %}{{ js_media }}{% endaddtoblock %}
    {% endfor %}
    {% for css_media in instance.form.media.render_css %}
        {% addtoblock "css" %}{{ css_media }}{% endaddtoblock %}
    {% endfor %}

    <form action="{% url "cms_forms.form_submission" instance.pk %}" method="post" id="cms_form-{{ instance.pk }}" enctype="multipart/form-data" onsubmit="event.preventDefault(); submitCMSForm(this, 'POST');" {% block form_attrs %}{% endblock %}>
{% endif %}

{% if instance.render_inner_only or not instance.is_lazy%}
    {% block form_body %}
        {{ instance.form.non_field_errors }}
        {% if instance.auto_render_fields %}
            {% for field in instance.form %}
                {% include plugin.auto_render_field_template %}
            {% endfor %}
        {% endif %}
        {% for plugin in instance.get_child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}
    {% endblock %}
{% endif %}

{% if not instance.render_inner_only %}
    </form>
{% endif %}
